In [1]:
# read pickle file
# get current working directory
import os
os.getcwd()
import pickle
import pandas as pd
import polars as pl

In [2]:
with open("data/pickle/salary_guide_2023.pkl", 'rb') as f:
    data = pickle.load(f)

# load to dataframe
df_2023 = pd.DataFrame(data)
df_2023.head()

,province,region,job,entry,mid,senior
0,,calgary metropolitan region,administrative assistant,43.6-56.4,49.9-61.3,55.2-66.7
1,,calgary metropolitan region,administrative manager,65.2-74.3,71.1-81.9,78.7-94.6
2,,calgary metropolitan region,buyer assistant,45.5-57.2,53.4-66.1,58.8-72.2
3,,calgary metropolitan region,claims supervisor,70.1-82.0,78.5-104.9,89.0-119.7
4,,calgary metropolitan region,contracts administrator,80.4-98.8,87.7-109.3,91.2-120.5

In [3]:
with open("data/pickle/salary_guide_2024_1.pkl", 'rb') as f:
    data = pickle.load(f)

# load to dataframe
df_2024 = pd.DataFrame(data)
df_2024.head()

,province,region,job,entry,mid,senior
0,alberta,,agent·e d’assistance voyage bilingue,"47,7-68,2","53,5-68,2","59,7-75,7"
1,alberta,,agent·e de clavardage bilingue,"52,6-75,8","58,5-75,8","65,7-85,2"
2,alberta,,agent·e de prise de commande bilingue,"40,8-59,7","47,0-59,7","52,9-66,1"
3,alberta,,agent·e de rétention de la clientèle bilingue,"42,4-65,2","49,0-65,2","56,0-74,3"
4,alberta,,agent·e de sondage bilingue,"38,5-60,1","46,6-60,1","53,3-65,9"

## 1.1
### 2023 Data Cleaning

In [4]:
# Split the salary ranges into minimum and maximum salaries
df_2023[['entry_min', 'entry_max']] = df_2023['entry'].str.split('-', expand=True).astype(float)
df_2023[['mid_min', 'mid_max']] = df_2023['mid'].str.split('-', expand=True).astype(float)
df_2023[['senior_min', 'senior_max']] = df_2023['senior'].str.split('-', expand=True).astype(float)

# Create a new column with the maximum salary for each job
df_2023['max_salary'] = df_2023[['entry_max', 'mid_max', 'senior_max']].max(axis=1)
#calculate the mean for each level
df_2023['entry_mean'] = df_2023[['entry_min', 'entry_max']].mean(axis=1)
df_2023['mid_mean'] = df_2023[['mid_min', 'mid_max']].mean(axis=1)
df_2023['senior_mean'] = df_2023[['senior_min', 'senior_max']].mean(axis=1)

# Sort the DataFrame by the maximum salary in descending order
df_sorted_2023 = df_2023.sort_values('max_salary', ascending=False)

## 1.2
### 2024 Data Cleaning

In [5]:
# Split the salary ranges into minimum and maximum salaries
df_2024[['entry_min', 'entry_max']] = df_2024['entry'].str.replace(',', '.').str.split('-', expand=True).astype(float)
df_2024[['mid_min', 'mid_max']] = df_2024['mid'].str.replace(',', '.').str.split('-', expand=True).astype(float)
df_2024[['senior_min', 'senior_max']] = df_2024['senior'].str.replace(',', '.').str.split('-', expand=True).astype(float)

# Create a new column with the maximum salary for each job
df_2024['max_salary'] = df_2024[['entry_max', 'mid_max', 'senior_max']].max(axis=1)
#calculate the mean for each level
df_2024['entry_mean'] = df_2024[['entry_min', 'entry_max']].mean(axis=1)
df_2024['mid_mean'] = df_2024[['mid_min', 'mid_max']].mean(axis=1)
df_2024['senior_mean'] = df_2024[['senior_min', 'senior_max']].mean(axis=1)

# Sort the DataFrame by the maximum salary in descending order
df_sorted_2024 = df_2024.sort_values('max_salary', ascending=False)

In [6]:

top_engineers_jobs=df_sorted_2023[df_sorted_2023['job'].str.contains('engineer', case=False)]
top_engineers_jobs.head(30)

,province,region,job,entry,mid,senior,entry_min,entry_max,mid_min,mid_max,senior_min,senior_max,max_salary,entry_mean,mid_mean,senior_mean
6709,ontario,greater toronto area,engineering manager,101.4-136.1,115.8-157.2,133.0-178.0,101.4,136.1,115.8,157.2,133.0,178.0,178.0,118.75,136.50,155.50
6967,ontario,greater toronto area,engineering manager,101.4-136.1,115.8-157.2,133.0-178.0,101.4,136.1,115.8,157.2,133.0,178.0,178.0,118.75,136.50,155.50
6783,ontario,greater toronto area,engineering manager,101.4-136.1,115.8-157.2,133.0-178.0,101.4,136.1,115.8,157.2,133.0,178.0,178.0,118.75,136.50,155.50
11264,ontario,york region,engineering manager,99.3-133.4,113.5-154.1,130.4-174.4,99.3,133.4,113.5,154.1,130.4,174.4,174.4,116.35,133.80,152.40
11121,ontario,york region,engineering manager,99.3-133.4,113.5-154.1,130.4-174.4,99.3,133.4,113.5,154.1,130.4,174.4,174.4,116.35,133.80,152.40
5220,ontario,durham region,engineering manager,98.9-132.7,112.9-153.2,129.7-173.1,98.9,132.7,112.9,153.2,129.7,173.1,173.1,115.80,133.05,151.40
5294,ontario,durham region,engineering manager,98.9-132.7,112.9-153.2,129.7-173.1,98.9,132.7,112.9,153.2,129.7,173.1,173.1,115.80,133.05,151.40
5465,ontario,durham region,engineering manager,98.9-132.7,112.9-153.2,129.7-173.1,98.9,132.7,112.9,153.2,129.7,173.1,173.1,115.80,133.05,151.40
867,alberta,northern alberta,engineering manager,98.2-130.9,111.8-151.3,128.0-171.4,98.2,130.9,111.8,151.3,128.0,171.4,171.4,114.55,131.55,149.70
1087,alberta,northern alberta,engineering manager,98.2-130.9,111.8-151.3,128.0-171.4,98.2,130.9,111.8,151.3,128.0,171.4,171.4,114.55,131.55,149.70
938,alberta,northern alberta,engineering manager,98.2-130.9,111.8-151.3,128.0-171.4,98.2,130.9,111.8,151.3,128.0,171.4,171.4,114.55,131.55,149.70
1486,alberta,fort st. john,engineering manager,88.2-118.2,100.5-137.1,115.5-170.0,88.2,118.2,100.5,137.1,115.5,170.0,170.0,103.20,118.80,142.75
9063,ontario,peel region,engineering manager,94.5-127.2,108.0-147.1,124.3-166.5,94.5,127.2,108.0,147.1,124.3,166.5,166.5,110.85,127.55,145.40
8989,ontario,peel region,engineering manager,94.5-127.2,108.0-147.1,124.3-166.5,94.5,127.2,108.0,147.1,124.3,166.5,166.5,110.85,127.55,145.40
9244,ontario,peel region,engineering manager,94.5-127.2,108.0-147.1,124.3-166.5,94.5,127.2,108.0,147.1,124.3,166.5,166.5,110.85,127.55,145.40
65,alberta,calgary metropolitan region,engineering manager,94.0-126.1,107.3-146.3,123.3-166.4,94.0,126.1,107.3,146.3,123.3,166.4,166.4,110.05,126.80,144.85
12011,québec,chaudière-appalaches,engineering manager,94.0-126.1,107.3-146.3,123.3-166.4,94.0,126.1,107.3,146.3,123.3,166.4,166.4,110.05,126.80,144.85
12079,québec,chaudière-appalaches,engineering manager,94.0-126.1,107.3-146.3,123.3-166.4,94.0,126.1,107.3,146.3,123.3,166.4,166.4,110.05,126.80,144.85
12228,québec,chaudière-appalaches,engineering manager,94.0-126.1,107.3-146.3,123.3-166.4,94.0,126.1,107.3,146.3,123.3,166.4,166.4,110.05,126.80,144.85
318,alberta,calgary metropolitan region,engineering manager,94.0-126.1,107.3-146.3,123.3-166.4,94.0,126.1,107.3,146.3,123.3,166.4,166.4,110.05,126.80,144.85
136,alberta,calgary metropolitan region,engineering manager,94.0-126.1,107.3-146.3,123.3-166.4,94.0,126.1,107.3,146.3,123.3,166.4,166.4,110.05,126.80,144.85
16150,québec,montréal,engineering manager,93.4-126.3,107.1-146.4,123.4-166.1,93.4,126.3,107.1,146.4,123.4,166.1,166.1,109.85,126.75,144.75
16219,québec,montréal,engineering manager,93.4-126.3,107.1-146.4,123.4-166.1,93.4,126.3,107.1,146.4,123.4,166.1,166.1,109.85,126.75,144.75
16388,québec,montréal,engineering manager,93.4-126.3,107.1-146.4,123.4-166.1,93.4,126.3,107.1,146.4,123.4,166.1,166.1,109.85,126.75,144.75
988,alberta,northern alberta,project engineer,105.9-134.5,114.5-148.1,125.8-164.2,105.9,134.5,114.5,148.1,125.8,164.2,164.2,120.20,131.30,145.00
1072,alberta,northern alberta,project engineer,105.9-134.5,114.5-148.1,125.8-164.2,105.9,134.5,114.5,148.1,125.8,164.2,164.2,120.20,131.30,145.00
889,alberta,northern alberta,project engineer,105.9-134.5,114.5-148.1,125.8-164.2,105.9,134.5,114.5,148.1,125.8,164.2,164.2,120.20,131.30,145.00
3088,british columbia,surrey/delta,engineering manager,93.9-125.6,107.0-145.0,122.8-164.1,93.9,125.6,107.0,145.0,122.8,164.1,164.1,109.75,126.00,143.45
3017,british columbia,surrey/delta,engineering manager,93.9-125.6,107.0-145.0,122.8-164.1,93.9,125.6,107.0,145.0,122.8,164.1,164.1,109.75,126.00,143.45
3207,british columbia,surrey/delta,engineering manager,93.9-125.6,107.0-145.0,122.8-164.1,93.9,125.6,107.0,145.0,122.8,164.1,164.1,109.75,126.00,143.45

In [7]:

top_engineers_jobs=df_sorted_2024[df_sorted_2024['job'].str.contains('ingénieur', case=False)]
top_engineers_jobs.head(30)

Empty DataFrame
Columns: [province, region, job, entry, mid, senior, entry_min, entry_max, mid_min, mid_max, senior_min, senior_max, max_salary, entry_mean, mid_mean, senior_mean]
Index: []